.card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    height: 300px;
    width: 300px;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 10px;
}

.icons {
    display: flex;
    align-self: flex-start;
}

.card img {
    max-height: 250px;
    max-width: 250px;
    object-fit: contain;
}

.card a {
    margin-top: 10px;
    margin-left: 25px;
    font-size: 20px;
    color: white;
    align-self: flex-start;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}