.card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    height: 300px;
    width: 300px;
    background-color: rgba(0, 0, 0, 0.6);
}

.card img {
    max-height: 250px;
    max-width: 250px;
    object-fit: contain;
}

.card button {
    margin-top: 10px;
    margin-left: 25px;
    align-self: flex-start;
    display: flex;
    justify-content: center;
    align-items: center;
}